<div ng-controller="MapCtrl as vm" ng-controller="NotificationCtrl">
<ion-view title="Book a trip" id="booking"  >
  <ion-content padding="true" class="has-header" scroll="false">
<style>
  .firstname {
    background-color: yellow;
  }

 </style>
    <div>
      <uib-progressbar class="progress-striped active" value="100" type="success" ng-if="bookingProc === true;"><i>Looking for driver...</i></uib-progressbar>
    </div>

    <div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert($index)">{{alert.msg}}</div>

    <form name="orderForm" id="bookATrip-form2" class="list" ng-submit="vm.submit(orderForm.$valid)" novalidate>
      <label class="item item-input" id="bookATrip-input3">
        <span class="input-label">Pick-up location</span>
        <input type="text"
               class="form-control"
               name="pickup"
               id="pickupLocation"
               required
               placeholder="Enter pickup location"
               size=80
               places-auto-complete
               ng-model="vm.pickupAddress"
               component-restrictions="{country:'ee'}"
               on-place-changed="vm.pickupPlaceChanged()"/>
      </label>
      <div ng-show="orderForm.$submitted || orderForm.pickup.$touched">
        <p ng-show="orderForm.pickup.$error.required">Enter Pickup Location</p>
      </div>

      <label class="item item-input" id="bookATrip-input4">
        <span class="input-label">Destination location</span>
        <input type="text"
               class="form-control"
               name="destination"
               id="destinationLocation"
               placeholder="Enter destination location"
               size=80
               required
               places-auto-complete
               ng-model="vm.destinationAddress"
               component-restrictions="{country:'ee'}"
               on-place-changed="vm.destinationPlaceChanged()"/>
      </label>
      <div ng-show="orderForm.$submitted || orderForm.destination.$touched">
        <p ng-show="orderForm.destination.$error.required">Enter Destination Location</p>
      </div>

      <button id="bookATrip-button1"  style="border-radius:20px 20px 20px 20px;" class="button button-energized  button-block">Request a taxi</button>
    </form>


    <div ng-show="vm.distance">
      Distance:{{vm.distance}}
    </div>

    <div ng-show="vm.duration">
      Average time of travel: {{vm.duration}}
    </div>


    <map center='current-position'
         geo-fallback-center="[58.53, 25.33]"
         geo-callback="vm.callbackFunc('you')"
         data-tap-disabled="true"
    >

      <directions
        draggable="false"
        panel="directions-panel"
        travel-mode="DRIVING"
        origin="{{vm.pickupLocation}}"
        destination="{{vm.destinationLocation}}">
      </directions>

      <marker ng-repeat="driver in vm.drivers"
              icon="{{vm.image}}"
              shape="{{vm.shape}}"
              title="{{driver[0]}}"
              position="{{driver[1]}}, {{driver[2]}}"
              z-index="{{driver[3]}}"></marker>

    </map>


  </ion-content>
</ion-view>
</div>

