<ion-view title="myTaxi" id="page1">
  <style>
    .tabs .tab-item .icon.taxi {
      background-repeat: no-repeat;
      background-position: 50%;
      height: 12 px;
      background-image: url(img/taxi.png);
      background-size:contain;
    }

    .tabs .tab-item .icon.info {
      background-repeat: no-repeat;
      background-position: 50%;
      height: 8 px;
      background-image: url(img/info-icon--6.png);
      background-size:contain
    }
  </style>
  <ion-tabs class="tabs-stable tabs-icon-top" id="tabsController-tabs1">

    <ion-tab ion-tab title="Request Taxi" icon-on="taxi" icon-off="taxi" href="" id="tabsController-tab5">
      <ion-nav-view name="tab5"></ion-nav-view>
    </ion-tab>

    <ion-tab title="About Team" icon-on="info" icon-off="info" href="/page3" id="tabsController-tab2">
      <ion-nav-view name="tab2"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>
